* {
  margin: 0;
  font-family: arial;
}

.box1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  font-size: 40px;
  margin-left: 90px;
}

.box3 {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 40px;
  margin-top: 30px;
}
button {
  height: 50px;
  width: 150px;
  font-size: 40px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  background-color: cadetblue;
  color: whitesmoke;
}

.btn {
  margin-left: 125px;
  margin-top: 20px;
}

.btn button {
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
  color: whitesmoke;
}

#count {
  color:darkgoldenrod;
}
